[Unit]
Requires=cloud-final.service
ConditionPathExists=/opt/csye6225/.env
Description=webapp
After=network.target
#Wants=cloud-init.target

[Service]
User=csye6225
Type=simple
WorkingDirectory=/opt/csye6225
ExecStart=/usr/bin/node /opt/csye6225/index.js
Restart=always
#StandardOutput=syslog
#StandardError=syslog
#SyslogIdentifier=webapp

[Install]
WantedBy=cloud-init.target