[Unit]
Description=webapp
After=network.target
Wants=cloud-init.target

[Service]
WorkingDirectory=/opt/csye6225
ExecStart=/usr/bin/node /opt/csye6225/index.js
Restart=always
RestartSec=10
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=webapp
User=csye6225

[Install]
WantedBy=multi-user.target

sudo systemctl daemon-reload
sudo systemctl enable webapp.service
sudo systemctl start webapp.service
sudo systemctl status webapp.service