//service code

[Unit]
Description=Web App
After=network.target

[Service]
User=prod
Group=prodGroup
WorkingDirectory=/opt/webapp
ExecStart=/usr/bin/node /opt/webapp/index.js   
Restart=always

[Install]
WantedBy=multi-user.target